.body{
    background: darkgray;
    font-family: Arial;
}

.navbar-logo{
    margin-left: 50%;
    transform: translateX(-50%);
}

#title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em
}

#pane1{
    background: gray
}

#pane2{
    display: none;
}

#capture-dsr-button{
    color: red;
    background: aqua;
    width: 50%;
}

#capture-dsr-title{
    color: red;
    font-family: 'Courier New', Courier, monospace
}

#capture-dsr-help{
    color: blue;
    font-family: Arial, Helvetica, sans-serif
}

#DSR-dialog>div{
    background: red
}

#capture-dsr-body span{
    font-size: 20;
}