:root {
    --trunomi-blue: #0a4fa1;
    --trunomi-green: #39A028;
    --danger: #d32f2f;
    --warning: #ffa000;
}
html {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
body {
    background: linear-gradient(135.63deg, #F2F2F2 0%, #F2F2F2 49.94%, #F8FEF7 100%);
}

h1,h2,h3,h4,h5 {
    color: var(--trunomi-blue);
}

.blue-text {
    color: var(--trunomi-blue);
}

.btn-toolbar .btn, .btn-toolbar .btn-group, .btn-toolbar .input-group{
    float: none;
}
.btn #test{
    color: transparent;
    background-color: white;
}

.greyHeader{
    background-color: #f1f1f1;
    font-weight: 300 !important;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}s

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadeIn {
    -webkit-animation: fadeIn;
    animation: fadeIn;
    opacity: 1;
}

.fadeOut {
    -webkit-animation: fadeOut;
    animation: fadeOut;
    opacity: 0;
}

.fast {
    -webkit-animation-duration: 1s;
    animation-duration: 1s
}

.panel-group > .panel > .panel-heading {
    background: linear-gradient(to right,#0143a6 0,#0567c0 52%,#9dcde2 100%);
    color: white;
    border-radius: 5px;
}

.panel-body{
    padding: 3px;
}

#truLogo{
    float: right;
    margin-right: 5px;
}

#wTitle{
    margin-top: 5px;
    margin-left: 10px;
    font-family: 'Salesforce Sans',Arial,sans-serif;
    height: 20px;
    font-weight: 200;
}


.blueDiv{
    border-radius: 5px;
    margin-top: 1rem;
    padding: 1rem;
    background: #0143a6;
    background: linear-gradient(to right,#0143a6 0,#0567c0 52%,#9dcde2 100%);
    color: white;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-weight: 100;
    margin: 0;
}

.blueDiv strong{
    font-size: 175%;
}

.blueDiv input{
    border: 2px solid #003ea3!important;
    border-radius: 5px;
}

.link{
    background:none;
    border:none;
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin-left: auto;
    margin-right: 0;
}

.loadingContainer{
    height: 50%;
    display:table;
    width: 100%;
    padding: 0;
}

.loadingRow {
    height: 100%;
    display:table-cell;
    text-align: center;
    vertical-align: middle;
}

.loadingIcon {
    float: none;
    margin:0 auto;
}


/*
   Animation example, for spinners
*/
.animate-spin {
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block;
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-o-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@-ms-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.main-section {
    padding-top: 30px;
    width: 100%;
}

.black-background {background-color:#000000;}
.white {color:#ffffff;}

.widget-button-active {
    color: #fff !important;
    background-color: #616161 !important;
}

.black-button {
    color: #fff !important;
    background-color: #000 !important;
}

.enterprise-logo{
    max-width: 120px;
    max-height: 60px;
    margin-right: 20px;
}

.radio-checkbox input{
    -webkit-appearance: radio;
    -moz-appearance: radio;
}

#loadingModal .modal-dialog {
    height: 100%;
    width: 100%;
    margin: 0;
}

#loadingModal .modal-content {
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 100%;
}

#loadingModal .modal-content i {
    position: relative;
    color: black;
    font-size: 100px;
    top: 50%;
    height: 100px;
    margin-top: -50px;
    left: 50%;
    margin-left: -50px;
}

.modal-container {
    position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}

.dropdown-menu {
    z-index: 9999;
}

.expansion-panel-summary {
    background: linear-gradient(90deg, #F7F7F7 0%, #E2E2E2 100%);
    box-shadow: 1px 2px 4px 0 rgba(164,164,164,0.4);
}

.expansion-panel-details {
    background: #e8e8e8;
    padding-top: 10 0;
}

.list-table {

    width: 100%;
    background: #e8e8e8;
    padding-top: 20px;
    box-shadow: 1px 2px 4px 0 rgba(164,164,164,0.4);
}

.list-table > tbody > tr > td {
    border-bottom: 1px solid #e8e8e8;
}

.list-table > tbody > :last-child > td {
    border-bottom: 0px;
}

.list-table-header > th {
    color: var(--trunomi-blue);
    font-weight: 500;
    border-bottom: 1px solid #e8e8e8;
}

.list-table > tbody > tr > td {
    color: #818181;
    background: #fff;
}

.list-table-header > tbody > tr > :last-child, .list-table > tbody > tr > :last-child {
    width: 5%;
}

#active-dsrs > tbody > tr > :last-child  {
    width: 20%;
}

.cursor {
    cursor: pointer;
}

/* .list-table-empty-row > :first-child {
    border-left: 1px solid #e8e8e8;
}

.list-table-empty-row > :last-child {
    border-right: 1px solid #e8e8e8;
} */


.list-table-header > th {
    padding: 10 10 10 10;
}

.list-table > tbody > tr > td {
    padding: 10 10 10 10;
}

.list-table > tbody > tr > td:last-child {
    border-left: 1px solid #e8e8e8;
    cursor: pointer;
}

.list-table-empty-row > td {
    background: #e8e8e8;
    height: 10px;
}

.list-table-header > :first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
/* 
.list-table-header > td {
    border-bottom: 10px solid red;
} */

.list-table-header {
    border: 1px solid white;
    border-radius: 5px;
    background: #fff;
    margin-bottom: 10px;
}

.action-button {
    display: flex;
}

.info > th {
    background: #d9edf7;
    text-align: left;
    padding: 10 10 10 10;
    border-bottom: 10px solid white;
}

.form-action {
    width: 100%;
    background: red;
    margin-top: 20px;
}

.form-action > div {
    float: right;
}

.navbar-logo {
    width: 125px;
}

.navbar-logout {
    text-align: right;
}

.widget-buttons {
    padding-left: 40px;
    width: 100%;
    text-align: left;
}

.widget-button {
    margin-left: 20px;
    cursor: pointer;
    font-weight: 500;
    color: var(--trunomi-blue);
    text-transform: uppercase;
    font-family: Roboto, Helvetica, Arial, sans-serif;

}

.widget-button:hover {
    text-decoration: none;
}

.container {
    width: 100%;
}

.navbar-menu-button {
    margin: 20 20 20 20;
    font-weight: 500;
    font-size: 16px;
    color: var(--trunomi-blue);
    text-transform: uppercase;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.trucert-footer {
    padding-top: 10px;
    height: 50px;
    width: 100%;
}

.logout-drop{
    margin-top: 35px;
}

.status-label{
    margin-right: 5px;
}